body {
    background: #eee;
    padding: 100px;
    font-family: Ubuntu, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(22, 89, 185);
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

td {
    padding: 5px;
}

tr.year_row td {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

tr.even td {
    background-color: #fff;
}

tr.odd td {
    background-color: #ddd;
}

tr.month_row td {
    border-top: 1px solid #eee;
}

tr.month_row.even td {
    background-color: #ccc;
}

tr.month_row.odd td {
    background-color: #aaa;
}

th.asc:after {
    content: " \025B4";
}

tr.year_row td {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

th.desc:after {
    content: " \025BE";
}

#header a.active {
    font-weight: bold;
}

.clickable {
    cursor: url(cursor_sqlite.png), pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.money {
    text-align: right;
    font-family: Ubuntu Mono, monospace;
    white-space: nowrap;
}

.money.pos {
    color: green;
}

.money.neg {
    color: maroon;
}
