body {
    background: #eee;
    padding: 100px;
    font-family: Ubuntu, sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: rgb(22, 89, 185);
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
}

td {
    padding: 5px;
}

td {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

tr.month_row td {
    border-bottom: 1px solid #997;
    border-top: 1px solid #997;
}

tr.even td {
    background-color: #fff;
}

tr.odd td {
    background-color: #ddd;
}

tr.even.highlight td {
    background-color: #dde !important;
}

tr.odd.highlight td {
    background-color: #ccd !important;
}

tr.month_row.even td {
    background-color: #ffe;
}

tr.month_row.odd td {
    background-color: #ddc;
}

tr.highlight td, div.highlight {
    background: #ccc;
    text-shadow: 0 0 1px rgba(0,0,0,0.6);
}

th.asc:after {
    content: " \025B4";
}

tr.year_row td {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

th.desc:after {
    content: " \025BE";
}

#header a.active {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.clickable {
    cursor: url(cursor_sqlite.png), pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.mono {
    font-family: Ubuntu Mono, monospace;
}

.money {
    text-align: right;
    font-family: Ubuntu Mono, monospace;
    white-space: nowrap;
}

.money.pos {
    color: green;
}

.money.neg {
    color: maroon;
}

.more_pedding_left {
    padding-left: 20px;
}

.more_padding_right {
    padding-right: 20px;
}

.less_padding_left {
    padding-left: 3px;
}

.less_padding_right {
    padding-right: 3px;
}

#sum_box {
    position: fixed;
    top: 100px;
    right: 7px;
    width: 90px;
    padding: 2px;
    background: #eed;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.2);
}
#sum_box .sum_line {
    background: #ffe;
    font-weight: bold;
    border-top: 1px solid #777;
    border-bottom: 3px double #777;
}

input[type="text"].date {
    width: 80px;
}
